.styled-tabel{

    border-collapse: collapse;
    margin: auto;
    font-size: 0.5cm;
    max-width: auto;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(63, 58, 58, 0.15);
}

.list{
    margin: 150px;
}

.styled-tabel thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-tabel th,
.styled-tabel td{
    padding: 12px 15px;
}

.styled-tabel tbody tr{
    border-radius: 1px soild #dddddd;
}

.styled-tabel tbody tr :last-of-type(even){
    background-color: #f3f3f3;

}

.btn{
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-delete{
    background-color: aqua;
}
.btn-edit{
    background-color: gold;
}
.btn-details{
    background-color: whitesmoke;
    color: black;
}

.w3-sidenav w3-white w3-card-2{
    color: black;
}


.img-slider{
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    
     
}
